@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bgColor1:#000;
    --bgColor2:#241E58;
    --bgColor3:#fff;
    --fontColor1:#000;
    --fontColor2:#fff;
    --fontColor3:#241E58;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body{
    background: var(--bgColor1);
}
header{
    padding: 13px;
    background: var(--bgColor2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width:7%;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-align: center;
    list-style: none;
}
li{
    display: flex;
    flex-direction: row;
}
a{
    color: var(--fontColor2);
    text-decoration: none;
}
video{
    width: 100%;
    height: 65vh; /* ou o tamanho que desejar */
    object-fit: cover;
    object-position: center;
}
#quemSomos{
    margin: 0 auto;
    padding: 5%;
    font-size: clamp(1rem, 2vw, 2rem);
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    color: var(--fontColor2);
    gap: 5%;
}
.quemSomosItem h2{
    color: var(--fontColor3);
    font-weight: 600;
}
.quemSomosItem h3{
    font-weight: lighter;
    font-size: clamp(1.5rem, 2vw, 2rem);
}
#mvvContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    color: var(--fontColor2);
    padding-left: 11%;
    padding-top: 5%;
}
.mvvItens{
    border-radius: 10px;
    margin-top: 20px;
    background:var(--bgColor2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 347.67px;
    height: 358px;
    align-items: center;
    text-align: center;
    font-weight: 100;
}
#mvvContainer h2{
    padding-top: 2%;
    text-align: left;
    font-size: clamp(2rem, 2vw, 2rem);
}
#mvvContainer p{
    text-align: left;
    font-size: clamp(2rem, 2vw, 2rem);
    padding: 5%;
}
.txtTop{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    display: block;
    color: white;
}
footer{
    display: flex;
    align-items: center;
    background: var(--bgColor2);
    color: var(--bgColor3);
    margin-top: 5%;
    height: 200px;
}
/* RESPONSIVIDADE PARA DISPOSITIVOS MÓVEIS */

@media (max-width:768px){
    #quemSomos{
        display: flex;
        flex-direction: column;
    }
    .logo img{
        width:40%;
    }
    #logo img{
        width: 400px;
    }
    #mvvContainer{
        align-items: center;
    }
}